.stage_area {
    width: 90%;
    /*height: 100%;*/
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 100px 50px;*/

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;

    -webkit-transition: top .5s;

    position: relative;
    top: 0;
}

.container {
    margin-top: 10%;
    width: 128px;
    height: 100px;
    margin-left: -64px;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    position: absolute;
    left: 50%;
}

.piece {
    width: 256px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);

    -webkit-transition: opacity 1s, -webkit-transform 1s;
    -moz-transition: opacity 1s, -moz-transform 1s;
    transition: opacity 1s, transform 1s;

    position: absolute;
    bottom: 0;
}

.remind {
    position: absolute;
    left: 1em;
    top: 1em;
}

.chrome_fix {
    position: absolute;
    left: 1em;
    top: 3em;
}