<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆校验</title>
    <link rel="stylesheet" href="/static/css/jquery/jquery-ui.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery/jquery-ui.min.js"></script>
</head>
<style>
    .item {
        display: table-row;
        width: 80%;
        margin-top: 3%;
        position: absolute;
    }

    .item_label {
        text-align: right;
        padding: 2px 10px 2px 0px;
    }

    .item_input {
        text-align: left;
        width: 100%;
        padding: 2px;
    }

    tr {
        text-align: left;
    }


</style>
<body style="text-align: center;padding: 2%">

<h1>请登记车辆信息</h1>

<table width="95%" border="0px">
    <tr>
        <td width="35%"></td>
        <td width="60%"></td>
    </tr>
    <tr>
        <td class="item_label">车牌号</td>
        <td><input class="item_input"/></td>
    </tr>
    <tr>
        <td class="item_label">《网络预约出租运输汽车证》证号</td>
        <td><input class="item_input"/></td>
    </tr>

    <tr>
        <td class="item_label">《网络预约出租车汽车运输证》照片</td>
        <td>正面：<input type="file" accept="image/*"><br/>反面：<input type="file" accept="image/*" value="反面"/></td>
    </tr>

    <tr>
        <td class="item_label">车身颜色</td>
        <td><select class="item_input">
            <option value="ys_black">黑</option>
            <option value="ys_black">白</option>
            <option value="ys_black">灰</option>
            <option value="ys_black">红</option>
            <option value="ys_black">黄</option>
            <option value="ys_black">蓝</option>
            <option value="ys_black">绿</option>
        </select></td>
    </tr>

    <tr>
        <td class="item_label">车辆品牌</td>
        <td><input class="item_input"/></td>
    </tr>

    <tr>
        <td class="item_label">车辆类型</td>
        <td><select class="item_input">
            <option value="type_black">蓝牌</option>
            <option value="type_black">黄牌</option>
            <option value="type_black">绿牌</option>
        </select></td>
    </tr>

    <tr>
        <td class="item_label">运营商</td>
        <td><select class="item_input">
            <option value="type_black">个人</option>
            <option value="type_black">企业</option>
        </select></td>
    </tr>

        <tr>
        <td class="item_label">司机(选填)</td>
        <td><input class="item_input"/></td>
    </tr>

       <tr>
        <td class="item_label">状态</td>
        <td><select class="item_input">
            <option value="type_black">运营</option>
            <option value="type_black">停运</option>
        </select></td>
    </tr>

       <tr>
        <td class="item_label">维护公里</td>
        <td><input class="item_input" type="number"/></td>
    </tr>

    <tr>
        <td class="item_label">备注</td>
        <td><textarea class="item_input"></textarea></td>
    </tr>

       <tr>
        <td class="item_label">保险日期</td>
        <td><input class="item_input" readonly id="bxrq"/></td>
    </tr>
    <tr>
        <td class="item_label">保养时间</td>
        <td><input class="item_input" readonly id="bysj"/></td>
    </tr>

</table>

<input type="button" style="background-color: #E27114;border:none;border-radius:15px;color: white;padding: 10px 30px;
    text-align: center;text-decoration: none;display: inline-block;font-size: 16px;" value="提  交" onclick="goto_driver()"/>

<script>
    $(function () {
        $("#bxrq").datepicker();
    });
    $(function () {
        $("#bysj").datepicker();
    });

    function goto_driver() {
        window.location.href = "./driver_check";
    }

</script>
</body>
</html>