<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的留学</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/xnjy.js"></script>
    <script type="text/javascript" src="/static/js/t_tools.js"></script>
    <link rel="stylesheet" href="http://res.layui.com/layui/dist/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="http://res.layui.com/css/global.css?t=1512984638033" media="all">
    <script src="/static/layui/layui.js"></script>
</head>
<body>
<div>
    <div id="div_back" style="position:absolute;width: 100%;height: 100%;text-align: center;z-index: 1">
        <img id="img_back" src="/static/img/xnjy/{{ ui_type }}/input.jpg">
    </div>
    <div id="div_cont" style="position:absolute;width: 100%;height: 100%;z-index: 2">
        <div style="display:inline">
            <input id="input_wx_name" class="layui-input-block" type="text" name="title" placeholder="请输入您的微信名"
                   value="{{ xnjy.people_id.wx_name }}" autocomplete="off"
                   style="margin: 38% 0 0 27%;height: 5.2%;width: 28%;padding-left: 4px;border-radius:8px">
            <img src="/static/img/search.png" style="height: 5%;" onclick="get_value()">
        </div>
        <input class="layui-input-block" style="margin: 8% 0 0 10%;width: 44%;padding-left: 10px;border-radius:8px"
               id="input_lx_time"/>
        <textarea class="layui-input-block"
                  style="margin: 15% 0 0 10%;width: 80%;padding:10px 0 0 10px;border-radius:8px;height: 12%;"
                  id="input_school" placeholder="请输入您的学校">{{ xnjy.people_id.school }}</textarea>
        <textarea class="layui-input-block"
                  style="margin: 14% 0 0 10%;width: 80%;padding:10px 0 0 10px;border-radius:8px;height: 15%;"
                  id="input_jy" placeholder="对自己说的话和未来的展望" value="33333333">444444{{ xnjy.people_id.jy }}</textarea>
        <div id="div_cont" style="width: 100%;margin-top: 5%;text-align: center">
            <button style="width: 40%;height:7.5%;background-size:100% 100%;border-style:none;background-color: transparent ; background-image: url('/static/img/xnjy/{{ ui_type }}/bt_sure.png')"
                    onclick="goto_page()">
                <div style="font-size: 15pt;color: #fff;width: 100%;height:100%;padding: 10px 0 10px 0"><b>确定</b></div>
            </button>
        </div>
    </div>
</div>
<script>
    xnjy_init();

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        var lx_time = {{ xnjy.lx_time }}+"";
        lx_time = lx_time.toString();
        if (lx_time.length < 8) {
            lx_time = "20180101";
        }

        laydate.render({
            elem: '#input_lx_time',
            format: 'yyyy 年 MM 月 dd 日',
            value: lx_time.substring(0, 4) + ' 年 ' + lx_time.substring(4, 6) + ' 月 ' + lx_time.substring(6, 8) + ' 日' //必须遵循format参数设定的格式
        });
    });


    function get_value() {
        var wx_name = document.getElementById("input_wx_name").value;
        wx_name = wx_name.toString();
        if (wx_name.length <= 0) {
            return;
        }
        $.ajax({
            url: "../lxdzx/xnjy_get_xnjy?parm={\"wx_name\":\"" + wx_name + "\"}",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                if (data.success) {
                    var res = data.data.res;
                    console.log(res);
                    document.getElementById("input_school").value = res.school;
                    document.getElementById("input_jy").value = res.jy;
                    var laydate = layui.laydate;
                    var lx_time = res.lx_time;
                    laydate.render({
                        elem: '#input_lx_time',
                        format: 'yyyy 年 MM 月 dd 日',
                        value: lx_time.substring(0, 4) + ' 年 ' + lx_time.substring(4, 6) + ' 月 ' + lx_time.substring(6, 8) + ' 日' //必须遵循format参数设定的格式
                    });
                }
            }
        });
    }

    function goto_page(index) {
        var parm = get_query_string("parm", "");
        var wx_name = document.getElementById("input_wx_name").value;
        wx_name = wx_name.toString();
        var lx_time = document.getElementById("input_lx_time").value;
        lx_time = lx_time.toString();
        var s = "";
        for (var i = 0; i < lx_time.length; i++) {
            var ts = lx_time[i];
            if ((ts > '9') || (ts < '0')) {
                continue;
            } else {
                s += ts;
            }
        }
        lx_time = s;
        var school = document.getElementById("input_school").value;
        school = school.toString();
        var jy = document.getElementById("input_jy").value;
        jy = jy.toString();
        if (jy.length >= 40) {
            alert("新年寄语不得超过40字");
            return;
        }
        //TODO 输入校验
        var send_data = JSON.parse(parm);
        send_data.wx_name = wx_name;
        send_data.lx_time = lx_time;
        send_data.school = school;
        send_data.jy = jy;
        parm = JSON.stringify(send_data);
        console.log(parm);
        $.ajax({
            url: "../lxdzx/xnjy_save_xnjy?parm=" + parm,
            success: function (data) {
                console.log(data);
                window.location.href = 'xnjy_show?parm=' + parm;
            }
        });

    }

</script>
</body>
</html>